.prize {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 50px;
    font-family: courier;
    margin: 20px;
}

#score {
	font-size: 100px;
}

.progress {
	background-color: #dbcbcb;
	height: 60px;
	margin: 50px;
}

.selectionArea {
	text-align: center;
}

body {
	background-image: url("../images/cloudy-day.png");


}

